<form>
    <div class="form-group">
        <label for="homeTeamInput">Home team / first team</label>
        <input
            type="text"
            class="form-control"
            id="homeTeamInput"
            placeholder="Home team / first team" />
    </div>
    <div class="form-group">
        <label for="awayTeamInput">Away team / second team</label>
        <input
            type="text"
            class="form-control"
            id="awayTeamInput"
            placeholder="Away team / second team" />
    </div>
    <div class="form-group">
        <button
            class="btn btn-primary form-control"
            type="submit">Spiel speichern</button>
    </div>
</form>
