<h1>Games</h1>

<section class="game-list-controls">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label
            class="btn btn-info"
            [ngClass]="{ 'active': isGroupCriterionSelected() }">
            <input
                type="radio"
                [(ngModel)]="groupingCriterion"
                name="groupingCriterion"
                value="group"
                id="option1"
                autocomplete="off"
                [checked]="isGroupCriterionSelected()"
                (change)="regroupGames()">
                Group/Round
        </label>
        <label
            class="btn btn-info"
            [ngClass]="{ 'active': isDateCriterionSelected() }">
            <input
                type="radio"
                [(ngModel)]="groupingCriterion"
                name="groupingCriterion"
                value="date"
                id="option2"
                autocomplete="off"
                [checked]="isDateCriterionSelected()"
                (change)="regroupGames()">
                Date
        </label>
        <label
            class="btn btn-info"
            [ngClass]="{ 'active': isLocationCriterionSelected() }">
            <input
                type="radio"
                [(ngModel)]="groupingCriterion"
                name="groupingCriterion"
                value="location"
                id="option3"
                autocomplete="off"
                [checked]="isLocationCriterionSelected()"
                (change)="regroupGames()">
                Location
        </label>
        <label
            class="btn btn-info"
            [ngClass]="{ 'active': isChannelCriterionSelected() }">
            <input
                type="radio"
                [(ngModel)]="groupingCriterion"
                name="groupingCriterion"
                value="channel"
                id="option3"
                autocomplete="off"
                [checked]="isChannelCriterionSelected()"
                (change)="regroupGames()">
                Channel
        </label>
    </div>
</section>

<table
    *ngFor="let grouping of gameGroupings"
    class="table table-striped">
    <thead>
        <tr>
            <th colspan="5">{{ grouping.title }}</th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Game</th>
            <th>Round</th>
            <th>Location</th>
            <th>Channel</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of grouping.games">
            <td>{{ game.date | date: 'dd.MM.yyyy' }}</td>
            <td>{{ game.date | date: 'HH:mm' }}</td>
            <td>
                <a [routerLink]="['/game', game.id]">{{ game.homeTeam }} - {{ game.awayTeam }}</a>
            </td>
            <td>{{ game.group }}</td>
            <td>{{ game.location }}</td>
            <td>{{ game.channel }}</td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary">Primary</button>
<button class="btn btn-success">Success</button>
<button class="btn btn-danger">Danger</button>
<button class="btn btn-warning">Warning</button>
<button class="btn btn-info">Info</button>
<button class="btn btn-default">Default</button>
