$theme-colors: (
    primary: #10aded,
    primary-accent: #11242d,
    secondary: #ed8359,
    secondary-accent: #ed5610,
    success: #14cc20,
    info: #11242d,
    warning: #ed5610,
    danger: #B2122F,
    light: #f5f5f5,
    gray-light: #d6d6d6,
    gray-dark: #363636,
    dark: #161616
);
